@model IEnumerable<SalesProject_CourseTask.Models.Entites.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_mobile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_mobile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Customer_id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Customer_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
